#compiled files
*.o
*.d
*.so
*.exe
*.bin
*.lib
*.creator.*
*.creator.user*
*.config
*.files
*.includes
*.tags
*.workspace
*.session
*.project
.cproject
.project
.directory
.dep
.inc
.user
.vscode
.externalToolBuilders
.externalToolBuilders/*
.settings
.settings/*
~*
*~
bin/
lib/
obj/
nbproject/
kgmEngine.*
Komble/Data
Komble/Data/*

