#compiled files
*.o
*.d
*.so
*.exe
*.bin
*.lib
*.creator.*
*.creator.user*
*.config
*.files
*.includes
*.tags
*.workspace
*.session
*.project
.cproject
.project
.directory
.dep
.inc
.user
.vscode
.externalToolBuilders
.externalToolBuilders/*
.settings
.settings/*
~*
*~
bin/
lib/
obj/
nbproject/
kgmEngine.*
Komble/Data/animations/*
Komble/Data/guis/*
Komble/Data/images/*
Komble/Data/meshes/*
Komble/Data/maps/*
Komble/Data/sounds/*
Komble/Data/skeletons/*
Komble/Data/tmp/*


