ul
{
  list-style-type: none;
  text-align: left;
  float: left;
  left: 1px;
  top:  1px;
}

li {
  text-align: left;
  border-style: groove;
  width: 100px;
}

.kgm_base {
	border-style: solid;
}

.kgm_gui {
  	width:  400px;
  	height: 200px;
}

.kgm_menu {
  	width:  50px;
  	height: 30px;
}

.kgm_list {
  	width:  150px;
  	height: 100px;
}

.kgm_Text {
  	width:  100px;
  	height: 30px;
}

.kgm_check {
  width:  80px;
  height: 30px;
  border-style: ridge;
}

.kgm_label {
  width:  90px;
  height: 30px;
  border-style: ridge;
}

.kgm_button {
  width:  80px;
  height: 30px;
}

.kgm_progress {
  width:  200px;
  height: 30px;
}

.kgm_tabbar {
  	width:  300px;
  	height: 100px;
}

div.main {
  border-style: none;
}

div.menu {
  border-style: double;
  position: absolute;
  left: 10px;
  top:  15px;

  width:  200px;
  height: 320px;

  align-items: left;
  float: left;
}

div.palette {
  border-style: dashed;
  position: absolute;
  left: 220px;
  top:  15px;
  width: 800px;
  height: 600px;
}

div.options {
  border-style: groove;
  position: absolute;
  left: 10px;
  top:  350px;
  width:  200px;

  align-items: left;
  float: left;
}

div.resizer {
    display: block;
    position: absolute;
    width:  10px;
    height:  10px;

    color: blue;
    background-color: lightblue;
}

div.gui_list_menu_add_dialog {
    display: none;
    position: absolute;
}

ul.gui_list_menu {
    position: absolute;
    display: none;
}
